<h1>Bem-vindo à nossa aplicação!</h1>
<p>Por favor, confirme seu cadastro clicando no link abaixo:</p>
<a href="{{url}}">Confirmar Cadastro</a>
<p>Se você não se cadastrou em nosso site, por favor, ignore este e-mail.</p>